[Unit]
Description=A Headless Bittorrent client using rb_libtorrent
After=protonvpn-user.service
Wants=protonvpn-user.service

[Service]
Type=simple
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8081
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
