root = true

[*]
# Future: https://github.com/editorconfig/editorconfig/issues/89
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
# Accessibility reasons. Vim: :%retab! (note also :set ts=4)
indent_style = tab
#indent_size = 4

[*.{reg,bat,ahk}]
end_of_line = crlf
