# All dotfiles
.*

# Except not these
!.editorconfig
!.gitattributes
!.github
!.gitignore
!.gitlab-ci.yml
!.gitmodules
!.mailmap
!.mikaela
!.mikaela_install
!.pre-commit-config.yaml
!.reuse

# Symlinks
install.run
LICENSE
