~
# All dotfiles
.*

# Except not these
!.editorconfig
!.gitattributes
!.github
!.gitignore
!.gitlab-ci.yml
!.gitmodules
!.mailmap
!.mikaela
!.mikaela_install
!.npmrc
!.nvmrc
!.pre-commit-config.yaml
!.prettierignore
!.python-version
!.renovate-shared.json*
!.reuse

# Certificates (unlikely to happen, but better safe than sorry)
*.pem

# I tend to have files with that name around on occassion
*.gitignore.*

# Symlinks
install.run
LICENSE

node_modules/
