[submodule "submodules/jauderho-nts-servers"]
	path = submodules/jauderho-nts-servers
	url = https://github.com/jauderho/nts-servers.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/SteamDeckScreenLock"]
	path = submodules/SteamDeckScreenLock
	url = https://github.com/RHOPKINS13/SteamDeckScreenLock.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/opendyslexic"]
	path = submodules/opendyslexic
	url = https://forge.hackers.town/antijingoist/opendyslexic.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/comic-shanns-mono"]
	path = submodules/comic-shanns-mono
	url = https://github.com/jesusmgg/comic-shanns-mono.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "submodules/comicneue"]
	path = submodules/comicneue
	url = https://github.com/crozynski/comicneue.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "submodules/serious-sans"]
	path = submodules/serious-sans
	url = https://github.com/kaBeech/serious-sans.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/ssh-allowed_signers"]
	path = submodules/ssh-allowed_signers
	url = https://codeberg.org/Aminda/ssh-allowed_signers.git
	branch = cxefa
	ignore = dirty
	shallow = true
[submodule "submodules/pgp-alt-wot"]
	path = submodules/pgp-alt-wot
	url = https://codeberg.org/Aminda/pgp-alt-wot.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "submodules/Inclusive-Sans"]
	path = submodules/Inclusive-Sans
	url = https://github.com/LivKing/Inclusive-Sans.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/steam-devices"]
	path = submodules/steam-devices
	url = https://github.com/ValveSoftware/steam-devices.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "submodules/atkinson-hyperlegible"]
	path = submodules/atkinson-hyperlegible
	url = https://github.com/googlefonts/atkinson-hyperlegible.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/atkinson-hyperlegible-next"]
	path = submodules/atkinson-hyperlegible-next
	url = https://github.com/googlefonts/atkinson-hyperlegible-next.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/atkinson-hyperlegible-next-mono"]
	path = submodules/atkinson-hyperlegible-next-mono
	url = https://github.com/googlefonts/atkinson-hyperlegible-next-mono.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/nicoverbruggen-ebook-fonts"]
	path = submodules/nicoverbruggen-ebook-fonts
	url = https://github.com/nicoverbruggen/ebook-fonts.git
	branch = main
	ignore = dirty
	shallow = true
[submodule "submodules/microsoft-fonts"]
	path = submodules/microsoft-fonts
	url = https://github.com/microsoft/fonts.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "submodules/source-sans"]
	path = submodules/source-sans
	url = https://github.com/adobe-fonts/source-sans.git
	branch = release
	ignore = dirty
	shallow = true
[submodule "submodules/source-serif"]
	path = submodules/source-serif
	url = https://github.com/adobe-fonts/source-serif.git
	branch = release
	ignore = dirty
	shallow = true
[submodule "submodules/source-code-pro"]
	path = submodules/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
	branch = release
	ignore = dirty
	shallow = true
