# All dotfiles
.*

# Except not these
!.editorconfig
!.gitattributes
!.github
!.gitignore
!.gitlab-ci.yml
!.gitmodules
!.mailmap
!.mikaela
!.mikaela_install
!.node-version
!.pre-commit-config.yaml
!.prettierignore
!.prettierrc
!.renovate-shared.json*
!.reuse

# Certificates (unlikely to happen, but better safe than sorry)
*.pem

# Symlinks
install.run
LICENSE

node_modules/
