# Remember that mailmap rule to change suomalainen+git@mikaela.info to
# suomalainen@aminda.eu won't affect other rules that turn something to
# suomalainen+git@mikaela.info
Aminda Suomalainen <suomalainen@aminda.eu> Aminda Suomalainen <suomalainen+git@mikaela.info>
Aminda Suomalainen <suomalainen@aminda.eu> Mikaela Suomalainen <mikaela+git@mikaela.info>
Aminda Suomalainen <suomalainen@aminda.eu> Mikaela Suomalainen <mikaela+digitalents@mikaela.info>
Aminda Suomalainen <suomalainen@aminda.eu> Mikaela Suomalainen <mikaela@unicus.com>
Aminda Suomalainen <suomalainen@aminda.eu> Mikaela Suomalainen <mikaela.suomalainen+github@outlook.com>
Aminda Suomalainen <suomalainen@aminda.eu> Mikaela Suomalainen <mikaela.suomalainen@robuntu.fi>
Aminda Suomalainen <suomalainen@aminda.eu> Mikaela Suomalainen <mikaela@mikaela.info>
Aminda Suomalainen <suomalainen@aminda.eu> Mikaela Suomalainen <suomalainen@aminda.eu>
Aminda Suomalainen <suomalainen@aminda.eu> <mikaela.suomalainen@outlook.com>
Aminda Suomalainen <suomalainen@aminda.eu> Mika Suomalainen <mika.henrik.mainio@hotmail.com>
Aminda Suomalainen <suomalainen@aminda.eu> <mkaysi@outlook.com>
Aminda Suomalainen <suomalainen@aminda.eu> Mika Suomalainen <mkaysi@outlook.com>
Aminda Suomalainen <suomalainen@aminda.eu> Mika Suomalainen <mkaysi@users.sourceforge.net>
Aminda Suomalainen <suomalainen@aminda.eu> Mika Suomalainen <s.mika95@gmail.com>
Aminda Suomalainen <suomalainen@aminda.eu> Mika Suomalainen <mika@MacBook.local>
Aminda Suomalainen <suomalainen@aminda.eu> <Mkaysi@users.noreply.github.com>
nyuszika7h <nyuszika7h@outlook.com> nyuszika7h <litemininyuszika@gmail.com>
nyuszika7h <nyuszika7h@outlook.com> nyuszika7h <nyuszika7h@cadoth.net>
nyuszika7h <nyuszika7h@outlook.com> nyuszika7h <litemininyuszika7h@gmail.com>
