[Unit]
Description=aliendalvik stopper service

[Service]
Type=simple
ExecStart=/bin/systemctl stop aliendalvik.service

[Install]
WantedBy=aliendalvik-stopper.timer
