[Unit]
Description=dnscrypt-proxy listening socket
After=network-online.target

[Socket]
ListenStream=127.0.0.1:54
ListenDatagram=127.0.0.1:54

[Install]
WantedBy=sockets.target

