[Unit]
Description=DNSCrypt client proxy
Requires=dnscrypt-proxy.socket

[Install]
Also=dnscrypt-proxy.socket
WantedBy=multi-user.target

[Service]
Type=simple
NonBlocking=true
ExecStart=/usr/bin/dnscrypt-proxy -r 95.175.99.231:443 -k 8458:11E2:D322:DAA3:1544:960B:F6C3:000E:910A:C1A6:DE38:8D94:BD1D:EDEA:B60F:0560 -N 2.dnscrypt-cert.fvz-rec-fi-ulv-01.dnsrec.meo.ws
