[Unit]
Description=dnscrypt-proxy listening socket
After=network-online.target

[Socket]
ListenStream=127.0.0.1:55
ListenDatagram=127.0.0.1:55

[Install]
WantedBy=sockets.target

