[Unit]
Description=Supybot
After=network-online.target

[Service]
Type=forking
PIDFile=/home/bot/botname/botname.pid
ExecStart=/usr/local/bin/supybot /home/bot/botname/botname.conf --daemon
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=bot

[Install]
WantedBy=multi-user.target
