# Autostarting Progressive WebApps using Vivaldi
# App IDs may be globally the same?

# Telegram WebZ
exec --no-startup-id vivaldi --profile-directory=Default --app-id=ibblmnobmgdmpoeblocemifbpglakpoi "--app-url=https://web.telegram.org/z/"

# Glowing Bear, WeeChat Relay protocol client.
exec --no-startup-id vivaldi --profile-directory=Default --app-id=copdfoibmmeogdkkhnckdgnngdchekmf "--app-url=https://latest.glowing-bear.org/index.html"

# YouTube Music
exec --no-startup-id vivaldi --profile-directory=Default --app-id=cinhimbnkkaeohfgghhklpknlkffjgod "--app-url=https://music.youtube.com/?source=pwa"

# Ntfy.sh Web
exec --no-startup-id vivaldi --profile-directory=Default --app-id=cmgiilnmnfechkeifkepembegeckngog "--app-url=https://ntfy.sh/app"
