# $HOME/.config/terminator/config
[global_config]
[keybindings]
  layout_launcher = None
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    audible_bell = True
    background_image = None
    font = DejaVu Sans Mono 9
    foreground_color = "#ffffff"
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#0000cd:#cd00cd:#00cdcd:#faebd7:#404040:#ff0000:#00ff00:#ffff00:#0000ff:#ff00ff:#00ffff:#ffffff"
    use_system_font = False
