[Unit]
Description=Connect Mullvad VPN on user login
After=mullvad-daemon.service network-online.target dbus.socket
Requires=mullvad-daemon.service network-online.target dbus.socket

[Service]
Type=forking
# Not necessary as the daemon is already up at this time
#ExecStartPre=sleep 60
ExecStart=mullvad connect
# ExecStop runs after forking leading into immediate disconnect!
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
