[Unit]
Description=Enable IPv6 forwarding - ULA
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/sysctl net.ipv6.conf.all.forwarding=1
ExecStart=/sbin/ip addr add fdb8:9a38:1607::1/64 dev eth0

ExecStop=/sbin/sysctl net.ipv6.conf.all.forwarding=0
ExecStop=/sbin/ip addr del fdb8:9a38:1607::/64 dev eth0

[Install]
WantedBy=multi-user.target
