[Match]
Type=ether

[Link]
RequiredForOnline=false
#ActivationPolicy=always-up

[Network]
DHCP=false
Address=192.168.0.2/24
Gateway=192.168.8.1
IPv6PrivacyExtensions=true
IPv6LinkLocalAddressGenerationMode=stable-privacy
DNS=
DNS=::1
DNS=127.0.0.1
Domains=.

[Match]
Type=wlan

[Link]
ActivationPolicy=always-up

[Network]
DHCP=false
Address=192.168.0.3/24
Gateway=192.168.8.1
IPv6PrivacyExtensions=true
IPv6LinkLocalAddressGenerationMode=stable-privacy
DNS=
DNS=::1
DNS=127.0.0.1
DNS=127.0.0.53
Domains=.
