[Match]
#Name=*
# Can be {colon,hyphen,dot}-delimited hexadecimal or IPv{4,6} address
#MACAddress=
Type=ether

[Link]
# My devices generally also have WiFi so lack of ethernet is not a reason
# to wait for systemd-networkd-wait-online.service
RequiredForOnline=false
# Takes "ipv4", "ipv6", "both", or "any" (default).
RequiredFamilyForOnline=both
# Always set administrative state to up. Implies RequiredForOnline=true
#ActivationPolicy=always-up
# Required for mDNS
Multicast=true

[Network]
#DHCP=true
# /24, /16, /8 are the the class C, B, A networks
Address=192.168.0.2/24
Gateway=192.168.0.1
IPv6PrivacyExtensions=true
IPv6LinkLocalAddressGenerationMode=stable-privacy
# DNS has no effect unless systemd-resolved is used. Why would it be used?
# systemctl enable systemd-resolved && systemctl start systemd-resolved
# ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf
#DNS=127.0.0.1
#DNS=::1
#DNS=8.8.4.4
# Enable systemd-timesyncd with `timedatectl set-ntp true`, may be specified
# multiple times, but you are using Chrony instead, right?
#NTP=fi.pool.ntp.org
#NTP=time.cloudflare.com
# Enable mDNS/.local for systemd-resolved
MulticastDNS=true
# Windows
LLMNR=true
