[Match]
# Can be {colon,hyphen,dot}-delimited hexadecimal or IPv{4,6} address
#MACAddress=
Type=ether

[Link]
# My devices generally also have WiFi so lack of ethernet is not a reason
# to wait for systemd-networkd-wait-online.service
RequiredForOnline=false
# Takes "ipv4", "ipv6", "both", or "any" (default).
RequiredFamilyForOnline=both
# Always set administrative state to up. Implies RequiredForOnline=true
#ActivationPolicy=always-up

[Network]
#DHCP=true
# /24, /16, /8 are the the class C, B, A networks
Address=192.168.0.2/24
Gateway=192.168.0.1
#DNS=
#NTP=
