[Match]
Type=wlan

[Link]
# I always mask systemd-networkd-wait-online.service anyway, so everything can
# be required for online if it wants to be.
ActivationPolicy=always-up
# Nothing else is managing addressing etc.
Unmanaged=false

[Network]
DHCP=true
IPv6PrivacyExtensions=true
IPv6LinkLocalAddressGenerationMode=stable-privacy
DNSSEC=true
DNSOverTLS=true
Domains=.
