[Match]
#Name=*
# Can be {colon,hyphen,dot}-delimited hexadecimal or IPv{4,6} address
#MACAddress=
Type=wlan

[Link]
# Takes "ipv4", "ipv6", "both", or "any" (default).
RequiredFamilyForOnline=both
# Always set administrative state to up. Implies RequiredForOnline=true
ActivationPolicy=always-up
# If something else (like iwd EnableNetworkConfiguration=true) manages network,
# uncomment
#Unmanaged=true
# Required for mDNS
Multicast=true

[Network]
DHCP=true
IPv6PrivacyExtensions=true
IPv6LinkLocalAddressGenerationMode=stable-privacy
DNS=::1
DNS=127.0.0.1
DNS=127.0.0.53
# Enable mDNS/.local for systemd-resolved
MulticastDNS=true
# Windows
LLMNR=true
# systemd-resolved configuration
#DNSSEC=true
#DNSSEC=allow-downgrade
DNSSEC=false
#DNSOverTLS=true
#DNSOverTLS=opportunistic
DNSOverTLS=false
# Search domains
Domains=.
