[Match]
Name=enp0s18

[Network]
Address=172.16.1.2/16
Gateway=172.16.0.1
# DNS has no effect unless systemd-resolved is used
# systemctl enable systemd-resolved && systemctl start systemd-resolved
# ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf
DNS=127.0.0.1
DNS=::1
DNS=8.8.4.4
NTP=pool.ntp.org
