# This will only affect servers that are accessed with public IP address!
server:
#module-config: "ipsecmod validator iterator"
# subnetcache must be loaded for ecs
module-config: "subnetcache validator iterator"
# Send ECS everywhere always
client-subnet-zone: "."
client-subnet-always-forward: yes
# Send different subnet size
#max-client-subnet-ipv6: "16"
#max-client-subnet-ipv4: "0"

# IP address to send client subnets TO. Optionally /CIDR can be appended.
# This actually means AUTHORITY servers!
#send-client-subnet:
#send-client-subnet:

# vim: filetype=unbound.conf
