server {
	listen              80;
	listen              443;
	listen              14402;
	listen              [::]:80;
	listen              [::]:443;
	listen              [::]:14402;
	ssl_certificate     /etc/nginx/ssl/cert.pem;
	ssl_certificate_key /etc/nginx/ssl/key.pem;
	server_name         bitbot.relpda.mikaela.info;
	access_log          /var/log/nginx/bitbot.access.log main;

	location / {
		proxy_pass http://[::1]:9050;
	}
}
