[Desktop Entry]
Version=1.0
Type=Application
StartupNotify=false
Terminal=false
Icon=chromium-browser
Exec=chromium --profile-directory=Default --no-startup-window
Name=Chromium in the background
Name[fi]=Chromium taustalla
