[Desktop Entry]
Version=1.0
Type=Application
Name=BRAVE
Exec=/usr/local/bin/brave %U
StartupNotify=true
Terminal=false
Icon=brave-browser
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=Guest

[Desktop Action Guest]
Name=Vierasistunto
Exec=/usr/local/bin/brave --guest %U
