[Desktop Entry]
Version=1.0
Name=GOOGLE CHROME
Exec=/usr/local/bin/google-chrome %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;Guest;

[Desktop Action new-window]
Name=New Window
Name[fi]=Uusi ikkuna
Exec=/usr/local/bin/google-chrome

[Desktop Action new-private-window]
Name=New Incognito Window
Name[fi]=Uusi incognito-ikkuna
Exec=/usr/local/bin/google-chrome --incognito

[Desktop Action Guest]
Name=Guest session
Name[fi]=Vierasistunto
Exec=/usr/local/bin/google-chrome --guest
