[Desktop Entry]
Type=Application
# Kotka
Exec=wlsunset -l 60.45 -L 26.94 -t 1000
# Helsinki
#Exec=wlsunset -l 60.16 -L 24.87 -t 1000
Name=wlsunset
Icon=wlsunset
