[Desktop Entry]
Name=PulseEffects
Exec=/usr/bin/flatpak run com.github.wwmm.pulseeffects --gapplication-service
Type=Application
Icon=com.github.wwmm.pulseeffects
