[Desktop Entry]
Name=Heroic Games Launcher
Exec=systemd-inhibit --who com.heroicgameslauncher.hgl gamemoderun flatpak run com.heroicgameslauncher.hgl
Terminal=false
SingleMainWindow=true
Type=Application
Icon=com.heroicgameslauncher.hgl
StartupWMClass=heroic
MimeType=x-scheme-handler/heroic;
Categories=Game;PackageManager;
X-Flatpak=com.heroicgameslauncher.hgl
