[Desktop Entry]
Name=SteamDeck TV
Exec=gamemoderun flatpak run com.valvesoftware.Steam -tenfoot -steamdeck
Icon=com.valvesoftware.Steam
Type=Application
Hidden=false
