[Desktop Entry]
Name=SteamDeck icon
Exec=systemd-inhibit flatpak run --env=SteamDeck=1 com.valvesoftware.Steam -silent -steamdeck
Icon=com.valvesoftware.Steam
Type=Application
Hidden=false
