[Desktop Entry]
Name=SteamDeck TV
Exec=systemd-inhibit gamemoderun flatpak run --env=SteamDeck=1 com.valvesoftware.Steam -tenfoot -steamdeck
Icon=com.valvesoftware.Steam
Type=Application
Hidden=false
