[Desktop Entry]
Type=Application
Exec=footclient -T System journalctl --no-hostname --follow
Icon=foot
Terminal=false
Name=System log
Comment=sysadmin laziness
