[Desktop Entry]
Type=Application
Exec=footclient -T DNS journalctl --no-hostname --follow -u unbound -u systemd-resolved
Icon=foot
Terminal=false
Name=DNS log
Name[fi]=DNS-loki
Comment=sysadmin laziness
