[Desktop Entry]
Type=Application
Exec=footclient -T htop htop
Icon=foot
Terminal=false
Name=htop system monitor
Name[fi]=htop -järjestelmänvalvonta
Comment=sysadmin laziness
