[Desktop Entry]
Type=Application
Exec=footclient -m -T btop btop
Icon=foot
Terminal=false
Name=btop system monitor
Name[fi]=btop -järjestelmänvalvonta
Comment=sysadmin laziness
