[Desktop Entry]
Type=Application
Name=LibreAwoo
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Comment=LibreAwoo Browser
Comment[fi]=LibreAwoo verkkoselain
Comment[eo]=LibreAwoo retumiulo
Categories=Network;WebBrowser;Security;
StartupWMClass=librewolf-default
Exec=/usr/local/bin/libreawoo %U
Icon=librewolf

Actions=new-window;new-private-window;safe-mode;preferences;

[Desktop Action new-window]
Name=New Window
Exec=/usr/local/bin/libreawoo
[Desktop Action new-private-window]
Name=New Private Window
Exec=/usr/local/bin/libreawoo --private-window %U
[Desktop Action safe-mode]
Name=Start in Safe Mode
Exec=/usr/local/bin/libreawoo --safe-mode
[Desktop Action preferences]
Name=Show Preferences
Exec=/usr/local/bin/libreawoo --preferences
