[Desktop Entry]
Name=SteamDeck TV
Exec=systemd-inhibit --what shutdown --who steam gamemoderun steam -tenfoot -steamdeck
Icon=com.valvesoftware.Steam
Type=Application
Hidden=false
