[Unit]
Description=Aminda's cronless boot tasks
Wants=sysctl-p--system.service

[Service]
Type=oneshot
TimeoutStartSec=infinity
# - means it can fail, without failing those after it
# I always want DNS.
ExecStartPre=-/usr/bin/systemctl enable --now unbound.service
ExecStartPre=-/usr/bin/systemctl enable --now systemd-resolved.service
ExecStartPre=-/usr/sbin/sysctl net.ipv6.conf.all.disable_ipv6=0
# These services are called here, so
ExecStartPre=-/usr/bin/systemctl start firewalld.service
# https://github.com/systemd/zram-generator
#ExecStart=-/usr/bin/systemctl start /dev/zram0
ExecStart=-/usr/bin/systemctl enable --now systemd-zram-setup@zram0.service
# Ensure we really allow ICMPv6 on FEDORA (or firewalld)
ExecStart=-/usr/bin/firewall-cmd --add-protocol=ipv6-icmp
# 3rd party Xbox controller initialization. See Mikaela/gist/gayming/
#ExecStart=-/root/fixcontroller.py
# This is actually in the delayed variant of this service, but anyway
ExecStart=-/usr/bin/systemctl start yggdrasil.service
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
