[Unit]
Description=Aminda's cronless boot tasks
Wants=sysctl-p--system.service

[Service]
Type=oneshot
TimeoutStartSec=infinity
Environment=LINUXBREWGROUP=wheel
# - means it can fail, without failing those after it.
# These aren't given --now as THEY WOULD INFINITE LOOP.
ExecStartPre=-/usr/bin/systemctl enable aminda-nocron-rebootish.service
ExecStartPre=-/usr/bin/systemctl enable  aminda-nocron-rebootish.timer
ExecStartPre=-/usr/bin/systemctl enable --now unbound.service
ExecStartPre=-/usr/bin/systemctl enable --now systemd-resolved.service
ExecStartPre=-/usr/sbin/sysctl net.ipv6.conf.all.disable_ipv6=0
# These services are called here, so
ExecStartPre=-/usr/bin/systemctl start firewalld.service
# https://github.com/systemd/zram-generator
#ExecStart=-/usr/bin/systemctl start /dev/zram0
ExecStart=-/usr/bin/systemctl enable --now systemd-zram-setup@zram0.service
# Ensure we really allow ICMPv6 on FEDORA (or firewalld). Also other essential services.
ExecStart=-/usr/bin/firewall-cmd --add-protocol=ipv6-icmp
ExecStart=-/usr/bin/firewall-cmd --add-service=ssh --permanent
ExecStart=-/usr/bin/firewall-cmd --add-service=mosh --permanent
ExecStart=-/usr/bin/firewall-cmd --add-service=ntp --permanent
ExecStart=-/usr/bin/firewall-cmd --add-service=syncthing --permanent
ExecStart=-/usr/bin/firewall-cmd --add-service=mdns --permanent
ExecStart=-/usr/bin/firewall-cmd --add-service=kdeconnect --permanent
ExecStart=-/usr/bin/firewall-cmd --permanent --add-port=9001/udp
ExecStart=-/usr/bin/firewall-cmd --permanent --add-port=6771/udp
# 3rd party Xbox controller initialization. See Mikaela/gist/gayming/
#ExecStart=-/root/fixcontroller.py
# This is actually in the delayed variant of this service, but anyway
ExecStart=-/usr/bin/systemctl enable --now yggdrasil.service
ExecStart=-/usr/bin/systemctl enable --now ssh.service
ExecStart=-/usr/bin/systemctl enable --now sshd.service
ExecStart=-/usr/bin/systemctl enable --now sshguard.service
ExecStart=-/usr/bin/systemctl enable --now unbound.service
ExecStart=-/usr/bin/systemctl enable --now chrony.service
ExecStart=-/usr/bin/systemctl enable --now chronyd.service
ExecStart=-/usr/bin/systemctl enable --now systemd-oomd.service systemd-oomd.socket
ExecStart=-/bin/chown -R root:${LINUXBREWGROUP} /home/linuxbrew -R
ExecStart=-/bin/setfacl -R -m g:${LINUXBREWGROUP}:rwx,o:rx /home/linuxbrew
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
