[Unit]
Description=Aminda's cronless boot tasks

[Service]
Type=oneshot
TimeoutStartSec=infinity
# - means it can fail, without failing those after it
# These services are called here, so
ExecStartPre=-/usr/bin/systemctl start firewalld.service
ExecStartPre=-/usr/bin/systemctl start yggdrasil.service
# Ensure /etc/sysctl.d/ gets read
ExecStart=-/usr/sbin/sysctl -p --system
# Ensure we really allow ICMPv6 on FEDORA (or firewalld)
ExecStart=-/usr/bin/firewall-cmd --add-protocol=ipv6-icmp
# 3rd party Xbox controller initialization. See Mikaela/gist/gayming/
#ExecStart=-/root/fixcontroller.py
# Another attempt at ensuring Yggdrasil works with nordvpnd
ExecStart=-/usr/sbin/sysctl net.ipv6.conf.all.disable_ipv6=0
ExecStart=-/usr/bin/systemctl restart yggdrasil.service
# BTRFS deduplication
#ExecStart=-/usr/sbin/duperemove -rdhq --hashfile=/root/home.hash /home
#ExecStart=-/usr/sbin/duperemove -rdhq --hashfile=/root/flatpak.hash /var/lib/flatpak
#ExecStart=-/usr/sbin/duperemove -rdhq --hashfile=/root/snap.hash /var/lib/snapd
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
