[Unit]
Description=Aminda's cronless tasks to do a bit after booting

[Service]
Type=oneshot
TimeoutStartSec=infinity
# - means it can fail, without failing those after it
# Another attempt at ensuring Yggdrasil works with nordvpnd
ExecStartPre=-/usr/bin/systemctl enable --now aminda-nocron-reboot.service
ExecStartPre=-/usr/bin/systemctl enable --now aminda-nocron-reboot.timer
ExecStartPre=-/usr/sbin/sysctl net.ipv6.conf.all.disable_ipv6=0
ExecStartPre=-/usr/bin/systemctl enable --now tlp
ExecStart=-/usr/bin/systemctl restart yggdrasil.service
ExecStart=-/bin/firewall-cmd --reload
# If they somehow managed to not start already
ExecStart=-/usr/bin/systemctl enable --now unbound.service
ExecStart=-/usr/bin/systemctl enable --now systemd-resolved.service
ExecStart=-/usr/sbin/tlp setcharge
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
