# https://github.com/AdguardTeam/dnsproxy
[Unit]
Description=DNS over HTTPS resolver
# /etc/resolv.conf -> unbound -> dnsproxy
After=network-pre.target

[Service]
Type=simple
# -v is verbose output, journalctl -u dnsproxy
# 127.0.2.1@53 comes from https://gitea.blesmrt.net/mikaela/shell-things/src/branch/master/etc/unbound/unbound.conf.d/dnscrypt-proxy.conf
# and it's not a privileged port https://gitea.blesmrt.net/mikaela/shell-things/src/branch/master/etc/sysctl.d/23-starts-unprivileged-ports.conf
# The DoH server is self-explanatory, bootstrap is the same DNS0:53
ExecStart=/usr/local/bin/dnsproxy -v -l 127.0.2.1 -p 53 -u https://dns0.eu/ -b 193.110.81.0:53 -b 185.253.5.0:53 -b [2a0f:fc80::]:53 -b [2a0f:fc81::]:53 --http3
Restart=always
RestartSec=5s
User=unbound

[Install]
WantedBy=multi-user.target
