[Unit]
Description=install flatpak updates and uninstall unused flatpaks

[Service]
Type=oneshot
# Contained in `systemd-path search-binaries-default`
ExecStart=flatpak update --assumeyes --noninteractive
ExecStartPost=flatpak uninstall --unused --assumeyes --noninteractive
