[Unit]
Description=install flatpak updates and uninstall unused flatpaks

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --assumeyes --noninteractive
ExecStartPost=/usr/bin/flatpak uninstall --unused --assumeyes --noninteractive
