[Unit]
Description=Gitea restarter

[Service]
Type=oneshot
# Contained in `systemd-path search-binaries-default`
ExecStart=systemctl restart gitea.service --quiet
