[Unit]
Description=Matterbridge restarter

[Service]
Type=oneshot
# Contained in `systemd-path search-binaries-default`
ExecStart=systemctl restart matterbridge.service --quiet
