[Unit]
Description=Restart Matterbridge daemon daily at 05 Finnish time

[Timer]
OnCalendar=*-*-* 05:00:00 Europe/Helsinki
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
