[Unit]
Description=Read /etc/sysctl.conf and /etc/sysctl.d/

[Service]
Type=oneshot
TimeoutStartSec=infinity
# Contained in `systemd-path search-binaries-default`
ExecStart=-sysctl -p --system
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
