[Unit]
Description=Tor client
After=network.target

[Service]
# Contained in `systemd-path search-binaries-default`
ExecStart=tor -f /etc/tor/torrc-client
ExecReload=kill -HUP $MAINPID
Restart=always
User=debian-tor

[Install]
WantedBy=default.target
