[Unit]
Description=Tor client
After=network.target

[Service]
ExecStart=/usr/bin/tor -f /etc/tor/torrc-client
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=debian-tor

[Install]
WantedBy=default.target
