[Unit]
Description=ZeroNet
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/mikaela/src/github/HelloZeroNet/ZeroNet/zeronet.py --tor always
Restart=on-failure
User=mikaela

[Install]
WantedBy=default.target
