/* Originally based upon, but heavily modified from https://github.com/jan-warchol/selenized/blob/master/other-apps/wofi/selenized-dark.css */

* {
	border: none;
	border-radius: 0;
	font-family:
		Comic Shanns Mono-Regular,
		monospace;
	font-size: 10px;
	min-height: 0;
}

window#waybar {
	background: #000000;
	border-bottom: 3px solid #ff0000;
	color: #ff0000;
}

tooltip {
	background: rgba(43, 48, 59, 0.5);
	border: 1px solid #ff0000;
}
tooltip label {
	color: #ff0000;
}

#workspaces button {
	padding: 0 5px;
	background: #000000;
	color: #ff0000;
	border-bottom: 3px solid #000000;
}

#workspaces button.focused {
	background: #ffffff;
	border-bottom: 3px solid #ff0000;
}

#mode,
#clock,
#battery {
	padding: 0 10px;
}

#mode {
	background: #000000;
	border-bottom: 3px solid #ff0000;
}

#clock {
	background-color: #000000;
}

#battery {
	background-color: #000000;
	color: #ff0000;
}

#battery.charging {
	color: #ff0000;
	background-color: #000000;
}

@keyframes blink {
	to {
		background-color: #000000;
		color: #ff0000;
	}
}

#battery.warning:not(.charging) {
	background: #ffffff;
	color: #0000ff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
