{
	"AbusiveExperienceInterventionEnforce": true,
	"AdvancedProtectionAllowed": true,
	"SafeBrowsingExtendedReportingEnabled": true,
	"SafeBrowsingProtectionLevel": 2,
	"SafeBrowsingProxiedRealTimeChecksAllowed": true
}
