[Desktop Entry]
Version=1.0
Type=Application
Name=NIGHTLY BRAVE
Name[fi]=EPÄVAKAIN BRAVE
Exec=/usr/bin/env brave-nightly %U
StartupNotify=true
Terminal=false
Icon=brave-browser-nightly
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;Guest;

[Desktop Action new-window]
Name=New Window
Name[fi]=Uusi ikkuna
Exec=/usr/bin/env brave-nightly

[Desktop Action new-private-window]
Name=New Incognito Window
Name[fi]=Uusi incognito-ikkuna
Exec=/usr/bin/env brave-nightly --incognito

[Desktop Action Guest]
Name=Guest session
Name[fi]=Vierasistunto
Exec=/usr/bin/env brave-nightly --guest
