[Desktop Entry]
Version=1.0
Type=Application
Name=NIGHTLY BRAVE
Name[fi]=EPÄVAKAIN BRAVE
Exec=/usr/bin/env brave-nightly %U
StartupNotify=true
Terminal=false
Icon=brave-browser-nightly
Categories=Network;WebBrowser;
MimeType=application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window

[Desktop Action new-window]
Name=New Window
Name[fi]=Uusi ikkuna
Exec=/usr/bin/env brave-nightly
