[Desktop Entry]
Version=1.0
Name=DEV MICROSOFT EDGE
Exec=/usr/bin/env microsoft-edge-dev %U
StartupNotify=true
Terminal=false
Icon=microsoft-edge-dev
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/chrome;
Actions=new-window;new-private-window;Guest;

[Desktop Action new-window]
Name=New Window
Name[fi]=Uusi ikkuna
Exec=/usr/bin/env microsoft-edge-dev

[Desktop Action new-private-window]
Name=New InPrivate Window
Name[fi]=Uusi InPrivate-ikkuna
Exec=/usr/bin/env microsoft-edge-dev --inprivate

[Desktop Action Guest]
Name=Guest session
Name[fi]=Vierasistunto
Exec=/usr/bin/env microsoft-edge-dev --guest
