[Desktop Entry]
Name=STEAM
Exec=/usr/bin/env steam %U
Icon=steam
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
PrefersNonDefaultGPU=true

[Desktop Action Store]
Name=Store
Name[fi]=Kauppa
Exec=/usr/bin/env steam steam://store

[Desktop Action Community]
Name=Community
Name[fi]=Yhteisö
Exec=/usr/bin/env steam steam://url/SteamIDControlPage

[Desktop Action Library]
Name=Library
Name[fi]=Kokoelma
Exec=/usr/bin/env steam steam://open/games

[Desktop Action Servers]
Name=Servers
Name[fi]=Palvelimet
Exec=/usr/bin/env steam steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots
Name[fi]=Kuvankaappaukset

Exec=/usr/bin/env steam steam://open/screenshots

[Desktop Action News]
Name=News
Name[fi]=Uutiset
Exec=/usr/bin/env steam steam://open/news

[Desktop Action Settings]
Name=Settings
Name[fi]=Asetukset
Exec=/usr/bin/env steam steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=/usr/bin/env steam steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Name[fi]=Kaverit
Exec=/usr/bin/env steam steam://open/friends
