[Desktop Entry]
Version=1.0
Name=VIVALDI
Exec=/usr/local/bin/vivaldi %U
StartupNotify=true
Terminal=false
Icon=vivaldi
Type=Application
Categories=Network;WebBrowser;
MimeType=application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Actions=new-window

[Desktop Action new-window]
Name=New Window
Name[fi]=Uusi ikkuna
Exec=/usr/bin/env vivaldi --new-window
