#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chrome Applications
Name[fi]=Chrome sovellukset
Exec=chrome --profile-directory=Default --app-id=gdaidcenalcnoknjmiehdkgkcpndkigh
Icon=google-chrome-gdaidcenalcnoknjmiehdkgkcpndkigh-Default
StartupWMClass=crx_gdaidcenalcnoknjmiehdkgkcpndkigh
