#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MTV Katsomo
Exec=chromium --profile-directory=Default --app-id=ineafkdjdmmdocoipaekbccldinobikn --app-run-on-os-login-mode=windowed
Icon=chrome-ineafkdjdmmdocoipaekbccldinobikn-Default
StartupWMClass=crx_ineafkdjdmmdocoipaekbccldinobikn
