#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Twitch
Exec=chromium --profile-directory=Default --app-id=comkdlimbkhemidbbpchhepidbmjpnhh --app-run-on-os-login-mode=windowed
Icon=chrome-comkdlimbkhemidbbpchhepidbmjpnhh-Default
StartupWMClass=crx_comkdlimbkhemidbbpchhepidbmjpnhh
