[Desktop Entry]
Name=SteamDeck
Exec=flatpak run --env=SteamDeck=1 com.valvesoftware.Steam -steamdeck steam://open/games
Icon=com.valvesoftware.Steam
Type=Application
Hidden=false
