[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=false
Terminal=false
Icon=plasma-discover
Exec=plasma-discover --mode Update
Name=Updates
Name[fi]=Päivitykset
