#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube Music
Exec=vivaldi --profile-directory=Default --app-id=cinhimbnkkaeohfgghhklpknlkffjgod --app-run-on-os-login-mode=windowed
Icon=vivaldi-cinhimbnkkaeohfgghhklpknlkffjgod-Default
StartupWMClass=crx_cinhimbnkkaeohfgghhklpknlkffjgod
