#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Radioplayer.fi
Exec=vivaldi --profile-directory=Default --app-id=memomhmokkeeilmkambhmkobjfggidnj --app-run-on-os-login-mode=windowed
Icon=vivaldi-memomhmokkeeilmkambhmkobjfggidnj-Default
StartupWMClass=crx_memomhmokkeeilmkambhmkobjfggidnj
